# Exploration of US Flight Data:
## A glimpse into flight data in the year of the author's birth (1988)
### Created by Miles Murphy
#### October 31, 2020

# Add Coloring and formatting to center, etc

# Table of Contents:
1. [Introduction](#introduction)

2. [Project Background](#project_background)
    1. [Data Source Information](#data_source_information)
    2. [Data Details](#data_details)
3. [Data Cleaning](#data_cleaning)
    1. [Data Tidiness](#data_tidiness)
    2. [Data Quality](#data_quality)

## Introduction: <a name="introduction"></a>

The last 6 months of my life have been very productive while simultaneously mundane. Covid-19 turned society upside-down and the plan I was developing for my life took a 180-degree turn. Instead of being in a new public service role in a larger government, I find myself completing 6 months of 'night-school' classes related to Data Analysis. The last 6 months have shown me that I do not want to stay in government work, at least not in a front-facing role. Instead, I hope to find opportunities related to my interests and passions, data analysis/programming and environmental conservation respectively. 

I am telling you all this, because this exploration of flight data for the year of 1988 and 2007 is my last project in my second Nanodegree and it will be submitted within weeks, if not days, of my 32nd birthday. I had no idea what I was going to do when I graduated highschool in 2007, let alone college in 2011, but I can assure you it did not involve me having even a remote understanding of Python, Git, SQL, and other programming related languages. Yet, on this Halloween evening, I am sitting infront of my desktop building the outline of a project which may eventually help open a door for a new job and an entirely new trajectory for my life. So, as I socially distance I will take you through flight data from the year 1988 and the year 2007(when I first left Pittsburgh), in honor of my impending birthday and the start this new adventure.

## Project Background: <a name="project_background"></a>

### Data Source Information: <a name="data_source_informationd"></a>

### Data Details: <a name="data_exploration"></a>

In [1]:
#Import packages and set plots to be embedded
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import datetime as dt

%matplotlib inline

In [2]:
#load dataset into a pandas df
flights_88 = pd.read_csv('dataverse_files/1988.csv', dtype={'ArrTime': str, 'DepTime':str, 'CRSDepTime': str, 'CRSArrTime':str} )
flights_07 = pd.read_csv('dataverse_files/2007.csv', dtype={'ArrTime': str, 'DepTime':str, 'CRSDepTime': str, 'CRSArrTime':str})

In [3]:
#Exmaine basic df information
print(flights.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5202096 entries, 0 to 5202095
Data columns (total 29 columns):
 #   Column             Dtype
---  ------             -----
 0   Year               int64
 1   Month              int64
 2   DayofMonth         int64
 3   DayOfWeek          int64
 4   DepTime            object
 5   CRSDepTime         int64
 6   ArrTime            object
 7   CRSArrTime         int64
 8   UniqueCarrier      object
 9   FlightNum          int64
 10  TailNum            float64
 11  ActualElapsedTime  float64
 12  CRSElapsedTime     int64
 13  AirTime            float64
 14  ArrDelay           float64
 15  DepDelay           float64
 16  Origin             object
 17  Dest               object
 18  Distance           float64
 19  TaxiIn             float64
 20  TaxiOut            float64
 21  Cancelled          int64
 22  CancellationCode   float64
 23  Diverted           int64
 24  CarrierDelay       float64
 25  WeatherDelay       float64
 26  NASDelay           float64
 27  SecurityDelay      float64
 28  LateAircraftDelay  float64
dtypes: float64(14), int64(10), object(5)
memory usage: 1.1+ GB
None

In [4]:
#Examine numerical data basic details
flights.describe()

,Year,Month,DayofMonth,DayOfWeek,CRSDepTime,CRSArrTime,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,5202096.0,5.202096e+06,5.202096e+06,5.202096e+06,5.202096e+06,5.202096e+06,5.202096e+06,0.0,5.137497e+06,5.202096e+06,...,0.0,0.0,5.202096e+06,0.0,5.202096e+06,0.0,0.0,0.0,0.0,0.0
mean,1988.0,6.508971e+00,1.575754e+01,3.954361e+00,1.357067e+03,1.493383e+03,6.870138e+02,NaN,1.040407e+02,1.039866e+02,...,NaN,NaN,9.642844e-03,NaN,2.775035e-03,NaN,NaN,NaN,NaN,NaN
std,0.0,3.445201e+00,8.798635e+00,1.987931e+00,4.697043e+02,4.837890e+02,5.186402e+02,NaN,6.196058e+01,6.173844e+01,...,NaN,NaN,9.772339e-02,NaN,5.260547e-02,NaN,NaN,NaN,NaN,NaN
min,1988.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,NaN,-5.300000e+02,-5.200000e+01,...,NaN,NaN,0.000000e+00,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN
25%,1988.0,4.000000e+00,8.000000e+00,2.000000e+00,9.400000e+02,1.117000e+03,2.960000e+02,NaN,6.100000e+01,6.100000e+01,...,NaN,NaN,0.000000e+00,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN
50%,1988.0,7.000000e+00,1.600000e+01,4.000000e+00,1.335000e+03,1.519000e+03,5.780000e+02,NaN,8.500000e+01,8.500000e+01,...,NaN,NaN,0.000000e+00,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN
75%,1988.0,1.000000e+01,2.300000e+01,6.000000e+00,1.740000e+03,1.911000e+03,9.380000e+02,NaN,1.320000e+02,1.320000e+02,...,NaN,NaN,0.000000e+00,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN
max,1988.0,1.200000e+01,3.100000e+01,7.000000e+00,2.400000e+03,2.400000e+03,6.189000e+03,NaN,1.737000e+03,1.560000e+03,...,NaN,NaN,1.000000e+00,NaN,1.000000e+00,NaN,NaN,NaN,NaN,NaN

In [5]:
#Examine first 5 rows
flights.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1988,1,9,6,1348,1331,1458,1435,PI,942,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,1988,1,10,7,1334,1331,1443,1435,PI,942,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,1988,1,11,1,1446,1331,1553,1435,PI,942,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,1988,1,12,2,1334,1331,1438,1435,PI,942,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,1988,1,13,3,1341,1331,1503,1435,PI,942,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [6]:
flights.isna().any()

Year                 False
Month                False
DayofMonth           False
DayOfWeek            False
DepTime               True
CRSDepTime           False
ArrTime               True
CRSArrTime           False
UniqueCarrier        False
FlightNum            False
TailNum               True
ActualElapsedTime     True
CRSElapsedTime       False
AirTime               True
ArrDelay              True
DepDelay              True
Origin               False
Dest                 False
Distance              True
TaxiIn                True
TaxiOut               True
Cancelled            False
CancellationCode      True
Diverted             False
CarrierDelay          True
WeatherDelay          True
NASDelay              True
SecurityDelay         True
LateAircraftDelay     True
dtype: bool

## Data Cleaning <a name="data_cleaning"></a>

In honor of my birth in 1988, we will look at only flight data related to Pittsburgh, PA, my place of birth and domecile for 20 of my nearly 32 years on Earth. However, in addition to focusing on just flights related to Pittsburgh, there are many other Data Tidiness and Data Quality issues which need to be cleaned to create a more efficient dataframe for visual exploration.

In [7]:
#Create df copy for cleaning
flights_88_cleaning = flights_88.copy()
flights_07_cleaning = flights_07.copy()

### Data Tidiness: <a name="data_tidiness"></a>

For Data Tidiness issues, this dataset is fairly good. Depending upon the analysis goals, the splitting of the data of each flight into four different pieces may not be efficient. The data could be combined into a date, a day of the week, and a time. However, if the data is being examined month to month, not having to use code to pull out the month of the date would be simpler. 

That being said, Data Tidiness issues will be handled as they develop from Data Quality cleaning steps.

<ol>
    <li></li>
</ol>

### Data Quality: <a name="data_quality"></a>

<ol>
    <li>Only interested in flights originating or terminating in Pittsbrugh, PA</li>
    <li>Arrival Time and Departure Time should be datetime objects, not floats</li>
</ol>

#### 1. Only interested in flights originating or terminating in Pittsburgh, PA

<em><b>Define</b></em>

Query the 1988 2007 flight dataframe to select only the flights which involve Pittsburgh, PA by using the 'Origin' and 'Dest' columns

<em><b>Code</b></em>

In [8]:
flights_cleaning_88.Dest.value_counts()

ORD    274766
ATL    260573
DFW    220266
LAX    169699
DEN    163598
        ...
GUC       149
ALO       118
GST        84
ACV        18
RDD        18
Name: Dest, Length: 236, dtype: int64

In [9]:
pgh_flights_88 = flights_cleaning_88.query("Dest == 'PIT' or Origin == 'PIT'")
pgh_flights_88.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
15771,1988,1,1,5,657,701,810,744,TW,73,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
15772,1988,1,2,6,659,701,754,744,TW,73,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
15773,1988,1,3,7,701,701,750,744,TW,73,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
15774,1988,1,4,1,701,701,824,744,TW,73,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
15775,1988,1,5,2,659,701,749,744,TW,73,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [ ]:
pgh_flights_07 = flights_cleaning_07.query("Dest == 'PIT' or Origin == 'PIT'")
pgh_flights_07.head()

<em><b>Test</b></em>

In [10]:
pgh_flights_88.query("Dest != 'PIT' and Origin != 'PIT'")

Empty DataFrame
Columns: [Year, Month, DayofMonth, DayOfWeek, DepTime, CRSDepTime, ArrTime, CRSArrTime, UniqueCarrier, FlightNum, TailNum, ActualElapsedTime, CRSElapsedTime, AirTime, ArrDelay, DepDelay, Origin, Dest, Distance, TaxiIn, TaxiOut, Cancelled, CancellationCode, Diverted, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay]
Index: []

[0 rows x 29 columns]

In [ ]:
pgh_flights_07.query("Dest != 'PIT' and Origin != 'PIT'")

In [11]:
pgh_flights_88.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 237901 entries, 15771 to 5184920
Data columns (total 29 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Year               237901 non-null  int64
 1   Month              237901 non-null  int64
 2   DayofMonth         237901 non-null  int64
 3   DayOfWeek          237901 non-null  int64
 4   DepTime            236035 non-null  object
 5   CRSDepTime         237901 non-null  int64
 6   ArrTime            235585 non-null  object
 7   CRSArrTime         237901 non-null  int64
 8   UniqueCarrier      237901 non-null  object
 9   FlightNum          237901 non-null  int64
 10  TailNum            0 non-null       float64
 11  ActualElapsedTime  235585 non-null  float64
 12  CRSElapsedTime     237901 non-null  int64
 13  AirTime            0 non-null       float64
 14  ArrDelay           235585 non-null  float64
 15  DepDelay           236035 non-null  float64
 16  Origin             237901 non-null  object
 17  Dest               237901 non-null  object
 18  Distance           237901 non-null  float64
 19  TaxiIn             0 non-null       float64
 20  TaxiOut            0 non-null       float64
 21  Cancelled          237901 non-null  int64
 22  CancellationCode   0 non-null       float64
 23  Diverted           237901 non-null  int64
 24  CarrierDelay       0 non-null       float64
 25  WeatherDelay       0 non-null       float64
 26  NASDelay           0 non-null       float64
 27  SecurityDelay      0 non-null       float64
 28  LateAircraftDelay  0 non-null       float64
dtypes: float64(14), int64(10), object(5)
memory usage: 54.5+ MB

In [ ]:
pgh_flights_07.info()

#### Arrival Time and Departure Time columns should be datetime objects, not floats

<em><b>Define</b></em>

Convert ArrTime, CRSDepTime, CRSArrTime, and DepTime columns to datetime

<em><b>Code</b></em>

In [13]:
#Credit to https://stackoverflow.com/questions/54313461/pandas-convert-float-to-proper-datetime-or-time-object
#Credit to https://stackoverflow.com/questions/13682044/remove-unwanted-parts-from-strings-in-a-column
print(pgh_flights.dtypes)
pgh_flights.ArrTime = pgh_flights.ArrTime.replace(".0", "")
pgh_flights.DepTime = pgh_flights.DepTime.replace(".0", "")
pgh_flights.CRSArrTime = pgh_flights.CRSArrTime.replace(".0", "")
pgh_flights.CRSDepTime = pgh_flights.CRSDepTime.replace(".0", "")

pgh_flights['ArrTime'] = pgh_flights['ArrTime'].str.zfill(4)
pgh_flights['DepTime'] = pgh_flights['DepTime'].str.zfill(4)
pgh_flights['CRSArrTime'] = pgh_flights['CRSArrTime'].str.zfill(4)
pgh_flights['CRSDepTime'] = pgh_flights['CRSDepTime'].str.zfill(4)

pgh_flights['ArrTime'] = pd.to_datetime(pgh_flights['ArrTime'], format='%H%M', errors='coerce').dt.time
pgh_flights['DepTime'] = pd.to_datetime(pgh_flights['DepTime'], format='%H%M', errors='coerce').dt.time
pgh_flights['CRSArrTime'] = pd.to_datetime(pgh_flights['CRSArrTime'], format='%H%M', errors='coerce').dt.time
pgh_flights['CRSDepTime'] = pd.to_datetime(pgh_flights['CRSDepTime'], format='%H%M', errors='coerce').dt.time

Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime               object
CRSDepTime             int64
ArrTime               object
CRSArrTime             int64
UniqueCarrier         object
FlightNum              int64
TailNum              float64
ActualElapsedTime    float64
CRSElapsedTime         int64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance             float64
TaxiIn               float64
TaxiOut              float64
Cancelled              int64
CancellationCode     float64
Diverted               int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
dtype: object
       Year  Month  DayofMonth  DayOfWeek DepTime  CRSDepTime ArrTime  \
15771  1988      1           1          5     657         701     810
15772  1988      1           2          6     659         701     754
15773  1988      1           3          7     701         701     750
15774  1988      1           4          1     701         701     824
15775  1988      1           5          2     659         701     749

       CRSArrTime UniqueCarrier  FlightNum  ...  TaxiIn  TaxiOut  Cancelled  \
15771         744            TW         73  ...     NaN      NaN          0
15772         744            TW         73  ...     NaN      NaN          0
15773         744            TW         73  ...     NaN      NaN          0
15774         744            TW         73  ...     NaN      NaN          0
15775         744            TW         73  ...     NaN      NaN          0

       CancellationCode  Diverted  CarrierDelay WeatherDelay NASDelay  \
15771               NaN         0           NaN          NaN      NaN
15772               NaN         0           NaN          NaN      NaN
15773               NaN         0           NaN          NaN      NaN
15774               NaN         0           NaN          NaN      NaN
15775               NaN         0           NaN          NaN      NaN

       SecurityDelay  LateAircraftDelay
15771            NaN                NaN
15772            NaN                NaN
15773            NaN                NaN
15774            NaN                NaN
15775            NaN                NaN

[5 rows x 29 columns]
Year                 1988
Month                   1
DayofMonth              1
DayOfWeek               5
DepTime               657
CRSDepTime            701
ArrTime               810
CRSArrTime            744
UniqueCarrier          TW
FlightNum              73
TailNum               NaN
ActualElapsedTime     133
CRSElapsedTime        103
AirTime               NaN
ArrDelay               26
DepDelay               -4
Origin                PIT
Dest                  STL
Distance              553
TaxiIn                NaN
TaxiOut               NaN
Cancelled               0
CancellationCode      NaN
Diverted                0
CarrierDelay          NaN
WeatherDelay          NaN
NASDelay              NaN
SecurityDelay         NaN
LateAircraftDelay     NaN
Name: 15771, dtype: object
Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime               object
CRSDepTime             int64
ArrTime               object
CRSArrTime             int64
UniqueCarrier         object
FlightNum              int64
TailNum              float64
ActualElapsedTime    float64
CRSElapsedTime         int64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance             float64
TaxiIn               float64
TaxiOut              float64
Cancelled              int64
CancellationCode     float64
Diverted               int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
dtype: object

C:\Users\Miles\anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
C:\Users\Miles\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\Miles\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\Miles\anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\Miles\anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Year                     1988
Month                       1
DayofMonth                  1
DayOfWeek                   5
DepTime              06:57:00
CRSDepTime                701
ArrTime              08:10:00
CRSArrTime                744
UniqueCarrier              TW
FlightNum                  73
TailNum                   NaN
ActualElapsedTime         133
CRSElapsedTime            103
AirTime                   NaN
ArrDelay                   26
DepDelay                   -4
Origin                    PIT
Dest                      STL
Distance                  553
TaxiIn                    NaN
TaxiOut                   NaN
Cancelled                   0
CancellationCode          NaN
Diverted                    0
CarrierDelay              NaN
WeatherDelay              NaN
NASDelay                  NaN
SecurityDelay             NaN
LateAircraftDelay         NaN
Name: 15771, dtype: object

In [14]:
pgh_flights.loc[15771]

Year                     1988
Month                       1
DayofMonth                  1
DayOfWeek                   5
DepTime              06:57:00
CRSDepTime                701
ArrTime              08:10:00
CRSArrTime                744
UniqueCarrier              TW
FlightNum                  73
TailNum                   NaN
ActualElapsedTime         133
CRSElapsedTime            103
AirTime                   NaN
ArrDelay                   26
DepDelay                   -4
Origin                    PIT
Dest                      STL
Distance                  553
TaxiIn                    NaN
TaxiOut                   NaN
Cancelled                   0
CancellationCode          NaN
Diverted                    0
CarrierDelay              NaN
WeatherDelay              NaN
NASDelay                  NaN
SecurityDelay             NaN
LateAircraftDelay         NaN
Name: 15771, dtype: object

<em><b>Test</b></em>

In [15]:
pgh_flights.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
15771,1988,1,1,5,06:57:00,701,08:10:00,744,TW,73,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
15772,1988,1,2,6,06:59:00,701,07:54:00,744,TW,73,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
15773,1988,1,3,7,07:01:00,701,07:50:00,744,TW,73,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
15774,1988,1,4,1,07:01:00,701,08:24:00,744,TW,73,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
15775,1988,1,5,2,06:59:00,701,07:49:00,744,TW,73,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN