# Exploration of US Flight Data:
## A glimpse into flight data in the year of the author's birth (1988)
### Created by Miles Murphy
#### October 31, 2020

# Add Coloring and formatting to center, etc

# Table of Contents:
1. [Introduction](#introduction)

2. [Project Background](#project_background)
    1. [Data Source Information](#data_source_information)
3. [Data Wrangling](#data_wrangling)
    1. [Data Details](#data_details)
    2. [Data Tidiness](#data_tidiness)
    3. [Data Quality](#data_quality)
4. [Data Exploration](#data_exploration)

## Introduction: <a name="introduction"></a>

The last 6 months of my life have been very productive while simultaneously mundane. Covid-19 turned society upside-down and the plan I was developing for my life took a 180-degree turn. Instead of being in a new public service role in a larger government, I find myself completing 6 months of 'night-school' classes related to Data Analysis. The last 6 months have shown me that I do not want to stay in government work, at least not in a front-facing role. Instead, I hope to find opportunities related to my interests and passions, data analysis/programming and environmental conservation respectively. 

I am telling you all this, because this exploration of flight data for the year of 1988 and 2007 is my last project in my second Nanodegree and it will be submitted within weeks, if not days, of my 32nd birthday. I had no idea what I was going to do when I graduated highschool in 2007, let alone college in 2011, but I can assure you it did not involve me having even a remote understanding of Python, Git, SQL, and other programming related languages. Yet, on this Halloween evening, I am sitting infront of my desktop building the outline of a project which may eventually open a door for a new job and an entirely new trajectory for my life. So, as I socially distance I will take you through flight data from the year 1988 and the year 2007(when I first left Pittsburgh), in honor of my impending birthday and the start this new adventure.

## Project Background: <a name="project_background"></a>

### Data Source Information: <a name="data_source_informationd"></a>

## Data Wrangling <a name="data_wrangling"></a>

### Data Details: <a name="data_details"></a>

In [1]:
#Import packages and set plots to be embedded
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import datetime as dt

%matplotlib inline

In [2]:
#load dataset into a pandas df
flights_88 = pd.read_csv('dataverse_files/1988.csv', dtype={'ArrTime': str, 'DepTime':str, 'CRSDepTime': str, 'CRSArrTime':str} )
flights_07 = pd.read_csv('dataverse_files/2007.csv', dtype={'ArrTime': str, 'DepTime':str, 'CRSDepTime': str, 'CRSArrTime':str})

#### What is the structure of the datasets?

In [3]:
#Exmaine basic df information
flights_88.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5202096 entries, 0 to 5202095
Data columns (total 29 columns):
 #   Column             Dtype
---  ------             -----
 0   Year               int64
 1   Month              int64
 2   DayofMonth         int64
 3   DayOfWeek          int64
 4   DepTime            object
 5   CRSDepTime         object
 6   ArrTime            object
 7   CRSArrTime         object
 8   UniqueCarrier      object
 9   FlightNum          int64
 10  TailNum            float64
 11  ActualElapsedTime  float64
 12  CRSElapsedTime     int64
 13  AirTime            float64
 14  ArrDelay           float64
 15  DepDelay           float64
 16  Origin             object
 17  Dest               object
 18  Distance           float64
 19  TaxiIn             float64
 20  TaxiOut            float64
 21  Cancelled          int64
 22  CancellationCode   float64
 23  Diverted           int64
 24  CarrierDelay       float64
 25  WeatherDelay       float64
 26  NASDelay           float64
 27  SecurityDelay      float64
 28  LateAircraftDelay  float64
dtypes: float64(14), int64(8), object(7)
memory usage: 1.1+ GB
None

In [4]:
flights_07.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7453215 entries, 0 to 7453214
Data columns (total 29 columns):
 #   Column             Dtype
---  ------             -----
 0   Year               int64
 1   Month              int64
 2   DayofMonth         int64
 3   DayOfWeek          int64
 4   DepTime            object
 5   CRSDepTime         object
 6   ArrTime            object
 7   CRSArrTime         object
 8   UniqueCarrier      object
 9   FlightNum          int64
 10  TailNum            object
 11  ActualElapsedTime  float64
 12  CRSElapsedTime     float64
 13  AirTime            float64
 14  ArrDelay           float64
 15  DepDelay           float64
 16  Origin             object
 17  Dest               object
 18  Distance           int64
 19  TaxiIn             int64
 20  TaxiOut            int64
 21  Cancelled          int64
 22  CancellationCode   object
 23  Diverted           int64
 24  CarrierDelay       int64
 25  WeatherDelay       int64
 26  NASDelay           int64
 27  SecurityDelay      int64
 28  LateAircraftDelay  int64
dtypes: float64(5), int64(15), object(9)
memory usage: 1.6+ GB

In [5]:
#Examine numerical data basic details
flights_88.describe()

,Year,Month,DayofMonth,DayOfWeek,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,5202096.0,5.202096e+06,5.202096e+06,5.202096e+06,5.202096e+06,0.0,5.137497e+06,5.202096e+06,0.0,5.137497e+06,...,0.0,0.0,5.202096e+06,0.0,5.202096e+06,0.0,0.0,0.0,0.0,0.0
mean,1988.0,6.508971e+00,1.575754e+01,3.954361e+00,6.870138e+02,NaN,1.040407e+02,1.039866e+02,NaN,6.547350e+00,...,NaN,NaN,9.642844e-03,NaN,2.775035e-03,NaN,NaN,NaN,NaN,NaN
std,0.0,3.445201e+00,8.798635e+00,1.987931e+00,5.186402e+02,NaN,6.196058e+01,6.173844e+01,NaN,2.332517e+01,...,NaN,NaN,9.772339e-02,NaN,5.260547e-02,NaN,NaN,NaN,NaN,NaN
min,1988.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,NaN,-5.300000e+02,-5.200000e+01,NaN,-1.185000e+03,...,NaN,NaN,0.000000e+00,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN
25%,1988.0,4.000000e+00,8.000000e+00,2.000000e+00,2.960000e+02,NaN,6.100000e+01,6.100000e+01,NaN,-5.000000e+00,...,NaN,NaN,0.000000e+00,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN
50%,1988.0,7.000000e+00,1.600000e+01,4.000000e+00,5.780000e+02,NaN,8.500000e+01,8.500000e+01,NaN,2.000000e+00,...,NaN,NaN,0.000000e+00,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN
75%,1988.0,1.000000e+01,2.300000e+01,6.000000e+00,9.380000e+02,NaN,1.320000e+02,1.320000e+02,NaN,1.100000e+01,...,NaN,NaN,0.000000e+00,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN
max,1988.0,1.200000e+01,3.100000e+01,7.000000e+00,6.189000e+03,NaN,1.737000e+03,1.560000e+03,NaN,1.394000e+03,...,NaN,NaN,1.000000e+00,NaN,1.000000e+00,NaN,NaN,NaN,NaN,NaN

In [6]:
flights_07.describe()

,Year,Month,DayofMonth,DayOfWeek,FlightNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,7453215.0,7.453215e+06,7.453215e+06,7.453215e+06,7.453215e+06,7.275288e+06,7.452221e+06,7.275288e+06,7.275288e+06,7.292467e+06,7.453215e+06,7.453215e+06,7.453215e+06,7.453215e+06,7.453215e+06,7.453215e+06,7.453215e+06,7.453215e+06,7.453215e+06,7.453215e+06
mean,2007.0,6.514876e+00,1.572589e+01,3.933804e+00,2.188099e+03,1.263223e+02,1.272502e+02,1.028159e+02,1.019218e+01,1.139914e+01,7.198058e+02,6.691984e+00,1.630015e+01,2.156761e-02,2.304911e-03,3.865236e+00,7.700904e-01,3.783702e+00,2.373553e-02,5.099134e+00
std,0.0,3.425117e+00,8.781154e+00,1.992267e+00,1.971958e+03,7.118009e+01,7.035750e+01,6.824577e+01,3.930774e+01,3.614189e+01,5.623051e+02,5.151351e+00,1.183396e+01,1.452668e-01,4.795413e-02,2.084240e+01,9.619547e+00,1.617670e+01,1.084995e+00,2.127753e+01
min,2007.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.200000e+01,-1.240000e+03,0.000000e+00,-3.120000e+02,-3.050000e+02,1.100000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2007.0,4.000000e+00,8.000000e+00,2.000000e+00,5.900000e+02,7.600000e+01,7.700000e+01,5.500000e+01,-9.000000e+00,-4.000000e+00,3.190000e+02,4.000000e+00,1.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2007.0,7.000000e+00,1.600000e+01,4.000000e+00,1.509000e+03,1.080000e+02,1.100000e+02,8.400000e+01,0.000000e+00,0.000000e+00,5.690000e+02,5.000000e+00,1.400000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,2007.0,9.000000e+00,2.300000e+01,6.000000e+00,3.553000e+03,1.560000e+02,1.560000e+02,1.310000e+02,1.400000e+01,1.100000e+01,9.460000e+02,8.000000e+00,1.900000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,2007.0,1.200000e+01,3.100000e+01,7.000000e+00,9.602000e+03,1.270000e+03,1.430000e+03,1.257000e+03,2.598000e+03,2.601000e+03,4.962000e+03,5.450000e+02,5.300000e+02,1.000000e+00,1.000000e+00,2.580000e+03,1.429000e+03,1.386000e+03,3.820000e+02,1.031000e+03

In [7]:
#Examine first 5 rows
flights_88.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1988,1,9,6,1348,1331,1458,1435,PI,942,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,1988,1,10,7,1334,1331,1443,1435,PI,942,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,1988,1,11,1,1446,1331,1553,1435,PI,942,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,1988,1,12,2,1334,1331,1438,1435,PI,942,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,1988,1,13,3,1341,1331,1503,1435,PI,942,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [8]:
flights_07.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2007,1,1,1,1232,1225,1341,1340,WN,2891,...,4,11,0,NaN,0,0,0,0,0,0
1,2007,1,1,1,1918,1905,2043,2035,WN,462,...,5,6,0,NaN,0,0,0,0,0,0
2,2007,1,1,1,2206,2130,2334,2300,WN,1229,...,6,9,0,NaN,0,3,0,0,0,31
3,2007,1,1,1,1230,1200,1356,1330,WN,1355,...,3,8,0,NaN,0,23,0,0,0,3
4,2007,1,1,1,831,830,957,1000,WN,2278,...,3,9,0,NaN,0,0,0,0,0,0

In [9]:
flights_88.isna().any()

Year                 False
Month                False
DayofMonth           False
DayOfWeek            False
DepTime               True
CRSDepTime           False
ArrTime               True
CRSArrTime           False
UniqueCarrier        False
FlightNum            False
TailNum               True
ActualElapsedTime     True
CRSElapsedTime       False
AirTime               True
ArrDelay              True
DepDelay              True
Origin               False
Dest                 False
Distance              True
TaxiIn                True
TaxiOut               True
Cancelled            False
CancellationCode      True
Diverted             False
CarrierDelay          True
WeatherDelay          True
NASDelay              True
SecurityDelay         True
LateAircraftDelay     True
dtype: bool

In [10]:
flights_07.isna().any()

Year                 False
Month                False
DayofMonth           False
DayOfWeek            False
DepTime               True
CRSDepTime           False
ArrTime               True
CRSArrTime           False
UniqueCarrier        False
FlightNum            False
TailNum               True
ActualElapsedTime     True
CRSElapsedTime        True
AirTime               True
ArrDelay              True
DepDelay              True
Origin               False
Dest                 False
Distance             False
TaxiIn               False
TaxiOut              False
Cancelled            False
CancellationCode      True
Diverted             False
CarrierDelay         False
WeatherDelay         False
NASDelay             False
SecurityDelay        False
LateAircraftDelay    False
dtype: bool

The two datasets repesent data related to all flight activity record in 1988 and 2007. There are 5202096 flights in the 88 df and 7453215 flights in the 07 df.

In honor of my place of birth and domecile for 20 of my nearly 32 years on Earth, we will look at only flight data related to Pittsburgh, PA. However, in addition to focusing on just flights related to Pittsburgh, there are other Data Tidiness and Data Quality issues which may need to be cleaned to create more efficient dataframse for visual exploration.

#### What is/are the main feature(s) of interest in the datasets?

There are many interesting aspects of the flight data in both 88 and 07, but 5 main features of interest stand out in this dataset at this point:
<ul>
    <li>The most popular origins for flights arriving in Pittsburgh</li>
    <li>The most popular destination for flights departing from Pittsburgh</li>
    <li>The length of flights</li>
    <li>The length of delays for flights that experience them</li>
    <li>The most common type of delay</li>
</ul>

#### What features in the dataset will help support the investigation into the feature(s) of interest?

The first four areas of interest are easily examine utilizing the following columns:
<ol>
    <li>Origin</li>
    <li>Destination</li>
    <li>ActualElapsedTime</li>
    <li>CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay</li>
</ol>

However, the last item is a little more difficult to handle. It may not be the most tidy method of organizing this dataframe, but a categorical column which details the type of delay would aid the visual exploration of the delay types for flights which experienced them. Additionally, it should be noted that delays can only be examined for the 07 df, as the 88 df did not include any delay information.

Regardless, the next step will be to create a copy of the original dataframes and begin to clean the data.

In [11]:
#Create df copy for cleaning
flights_88_cleaning = flights_88.copy()
flights_07_cleaning = flights_07.copy()

### Data Tidiness: <a name="data_tidiness"></a>

For Data Tidiness issues, this dataset is fairly good. Depending upon the analysis goals, the splitting of the data of each flight into four different pieces may not be efficient. The data could be combined into a date, a day of the week, and a time. However, if the data is being examined month to month, not having to use code to pull out the month of the date would be simpler. 

That being said, Data Tidiness issues will be handled as they develop from Data Quality cleaning steps, if any do develop.

<ol>
    <li></li>
</ol>

### Data Quality: <a name="data_quality"></a>

<ol>
    <li>Only interested in flights originating or terminating in Pittsbrugh, PA</li>
    <li>Arrival Time and Departure Time related columns should be datetime objects, not floats</li>
    <li>Several NaN columns for the pgh_flights_88 df</li>
    <li>There is no categorial column for delays which would be useful in visualization of the data</li>
</ol>

#### 1. Only interested in flights originating or terminating in Pittsburgh, PA

<em><b>Define</b></em>

Query the 1988 2007 flight dataframe to select only the flights which involve Pittsburgh, PA by using the 'Origin' and 'Dest' columns

<em><b>Code</b></em>

In [14]:
flights_88_cleaning.Dest.value_counts()

ORD    274766
ATL    260573
DFW    220266
LAX    169699
DEN    163598
        ...
GUC       149
ALO       118
GST        84
ACV        18
RDD        18
Name: Dest, Length: 236, dtype: int64

In [15]:
pgh_flights_88 = flights_88_cleaning.query("Dest == 'PIT' or Origin == 'PIT'")
pgh_flights_88.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
15771,1988,1,1,5,657,701,810,744,TW,73,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
15772,1988,1,2,6,659,701,754,744,TW,73,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
15773,1988,1,3,7,701,701,750,744,TW,73,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
15774,1988,1,4,1,701,701,824,744,TW,73,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
15775,1988,1,5,2,659,701,749,744,TW,73,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [16]:
pgh_flights_07 = flights_07_cleaning.query("Dest == 'PIT' or Origin == 'PIT'")
pgh_flights_07.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
194,2007,1,1,1,1034,1035,1232,1250,WN,2999,...,5,11,0,NaN,0,0,0,0,0,0
1481,2007,1,2,2,1037,1035,1754,1745,WN,803,...,4,15,0,NaN,0,0,0,0,0,0
1482,2007,1,2,2,1504,1435,2219,2140,WN,2659,...,7,8,0,NaN,0,0,29,10,0,0
1864,2007,1,2,2,1838,1830,2047,2050,WN,491,...,8,11,0,NaN,0,0,0,0,0,0
1865,2007,1,2,2,1322,1315,1525,1525,WN,1659,...,6,9,0,NaN,0,0,0,0,0,0

<em><b>Test</b></em>

In [17]:
pgh_flights_88.query("Dest != 'PIT' and Origin != 'PIT'")

Empty DataFrame
Columns: [Year, Month, DayofMonth, DayOfWeek, DepTime, CRSDepTime, ArrTime, CRSArrTime, UniqueCarrier, FlightNum, TailNum, ActualElapsedTime, CRSElapsedTime, AirTime, ArrDelay, DepDelay, Origin, Dest, Distance, TaxiIn, TaxiOut, Cancelled, CancellationCode, Diverted, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay]
Index: []

[0 rows x 29 columns]

In [18]:
pgh_flights_07.query("Dest != 'PIT' and Origin != 'PIT'")

Empty DataFrame
Columns: [Year, Month, DayofMonth, DayOfWeek, DepTime, CRSDepTime, ArrTime, CRSArrTime, UniqueCarrier, FlightNum, TailNum, ActualElapsedTime, CRSElapsedTime, AirTime, ArrDelay, DepDelay, Origin, Dest, Distance, TaxiIn, TaxiOut, Cancelled, CancellationCode, Diverted, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay]
Index: []

[0 rows x 29 columns]

In [19]:
pgh_flights_88.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 237901 entries, 15771 to 5184920
Data columns (total 29 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Year               237901 non-null  int64
 1   Month              237901 non-null  int64
 2   DayofMonth         237901 non-null  int64
 3   DayOfWeek          237901 non-null  int64
 4   DepTime            236035 non-null  object
 5   CRSDepTime         237901 non-null  object
 6   ArrTime            235585 non-null  object
 7   CRSArrTime         237901 non-null  object
 8   UniqueCarrier      237901 non-null  object
 9   FlightNum          237901 non-null  int64
 10  TailNum            0 non-null       float64
 11  ActualElapsedTime  235585 non-null  float64
 12  CRSElapsedTime     237901 non-null  int64
 13  AirTime            0 non-null       float64
 14  ArrDelay           235585 non-null  float64
 15  DepDelay           236035 non-null  float64
 16  Origin             237901 non-null  object
 17  Dest               237901 non-null  object
 18  Distance           237901 non-null  float64
 19  TaxiIn             0 non-null       float64
 20  TaxiOut            0 non-null       float64
 21  Cancelled          237901 non-null  int64
 22  CancellationCode   0 non-null       float64
 23  Diverted           237901 non-null  int64
 24  CarrierDelay       0 non-null       float64
 25  WeatherDelay       0 non-null       float64
 26  NASDelay           0 non-null       float64
 27  SecurityDelay      0 non-null       float64
 28  LateAircraftDelay  0 non-null       float64
dtypes: float64(14), int64(8), object(7)
memory usage: 54.5+ MB

In [20]:
pgh_flights_07.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 98419 entries, 194 to 7453089
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               98419 non-null  int64
 1   Month              98419 non-null  int64
 2   DayofMonth         98419 non-null  int64
 3   DayOfWeek          98419 non-null  int64
 4   DepTime            96271 non-null  object
 5   CRSDepTime         98419 non-null  object
 6   ArrTime            96107 non-null  object
 7   CRSArrTime         98419 non-null  object
 8   UniqueCarrier      98419 non-null  object
 9   FlightNum          98419 non-null  int64
 10  TailNum            98419 non-null  object
 11  ActualElapsedTime  96107 non-null  float64
 12  CRSElapsedTime     98406 non-null  float64
 13  AirTime            96107 non-null  float64
 14  ArrDelay           96107 non-null  float64
 15  DepDelay           96271 non-null  float64
 16  Origin             98419 non-null  object
 17  Dest               98419 non-null  object
 18  Distance           98419 non-null  int64
 19  TaxiIn             98419 non-null  int64
 20  TaxiOut            98419 non-null  int64
 21  Cancelled          98419 non-null  int64
 22  CancellationCode   2148 non-null   object
 23  Diverted           98419 non-null  int64
 24  CarrierDelay       98419 non-null  int64
 25  WeatherDelay       98419 non-null  int64
 26  NASDelay           98419 non-null  int64
 27  SecurityDelay      98419 non-null  int64
 28  LateAircraftDelay  98419 non-null  int64
dtypes: float64(5), int64(15), object(9)
memory usage: 22.5+ MB

#### Arrival Time and Departure Time columns should be datetime objects, not floats

<em><b>Define</b></em>

Convert ArrTime, CRSDepTime, CRSArrTime, and DepTime columns to datetime

<em><b>Code</b></em>

In [21]:
#Credit to https://stackoverflow.com/questions/54313461/pandas-convert-float-to-proper-datetime-or-time-object
#Credit to https://stackoverflow.com/questions/13682044/remove-unwanted-parts-from-strings-in-a-column

#Convert 88 data

pgh_flights_88.ArrTime = pgh_flights_88.ArrTime.replace(".0", "")
pgh_flights_88.DepTime = pgh_flights_88.DepTime.replace(".0", "")
pgh_flights_88.CRSArrTime = pgh_flights_88.CRSArrTime.replace(".0", "")
pgh_flights_88.CRSDepTime = pgh_flights_88.CRSDepTime.replace(".0", "")

pgh_flights_88['ArrTime'] = pgh_flights_88['ArrTime'].str.zfill(4)
pgh_flights_88['DepTime'] = pgh_flights_88['DepTime'].str.zfill(4)
pgh_flights_88['CRSArrTime'] = pgh_flights_88['CRSArrTime'].str.zfill(4)
pgh_flights_88['CRSDepTime'] = pgh_flights_88['CRSDepTime'].str.zfill(4)

pgh_flights_88['ArrTime'] = pd.to_datetime(pgh_flights_88['ArrTime'], format='%H%M', errors='coerce').dt.time
pgh_flights_88['DepTime'] = pd.to_datetime(pgh_flights_88['DepTime'], format='%H%M', errors='coerce').dt.time
pgh_flights_88['CRSArrTime'] = pd.to_datetime(pgh_flights_88['CRSArrTime'], format='%H%M', errors='coerce').dt.time
pgh_flights_88['CRSDepTime'] = pd.to_datetime(pgh_flights_88['CRSDepTime'], format='%H%M', errors='coerce').dt.time

Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime               object
CRSDepTime            object
ArrTime               object
CRSArrTime            object
UniqueCarrier         object
FlightNum              int64
TailNum              float64
ActualElapsedTime    float64
CRSElapsedTime         int64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance             float64
TaxiIn               float64
TaxiOut              float64
Cancelled              int64
CancellationCode     float64
Diverted               int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
dtype: object

C:\Users\Miles\anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
C:\Users\Miles\anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\Miles\anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\Users\Miles\anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\Miles\anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Miles\anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\Miles\anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Miles\anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Miles\anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
#Convert 07 data

pgh_flights_07.ArrTime = pgh_flights_07.ArrTime.replace(".0", "")
pgh_flights_07.DepTime = pgh_flights_07.DepTime.replace(".0", "")
pgh_flights_07.CRSArrTime = pgh_flights_07.CRSArrTime.replace(".0", "")
pgh_flights_07.CRSDepTime = pgh_flights_07.CRSDepTime.replace(".0", "")

pgh_flights_07['ArrTime'] = pgh_flights_07['ArrTime'].str.zfill(4)
pgh_flights_07['DepTime'] = pgh_flights_07['DepTime'].str.zfill(4)
pgh_flights_07['CRSArrTime'] = pgh_flights_07['CRSArrTime'].str.zfill(4)
pgh_flights_07['CRSDepTime'] = pgh_flights_07['CRSDepTime'].str.zfill(4)

pgh_flights_07['ArrTime'] = pd.to_datetime(pgh_flights_07['ArrTime'], format='%H%M', errors='coerce').dt.time
pgh_flights_07['DepTime'] = pd.to_datetime(pgh_flights_07['DepTime'], format='%H%M', errors='coerce').dt.time
pgh_flights_07['CRSArrTime'] = pd.to_datetime(pgh_flights_07['CRSArrTime'], format='%H%M', errors='coerce').dt.time
pgh_flights_07['CRSDepTime'] = pd.to_datetime(pgh_flights_07['CRSDepTime'], format='%H%M', errors='coerce').dt.time

Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime               object
CRSDepTime            object
ArrTime               object
CRSArrTime            object
UniqueCarrier         object
FlightNum              int64
TailNum               object
ActualElapsedTime    float64
CRSElapsedTime       float64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance               int64
TaxiIn                 int64
TaxiOut                int64
Cancelled              int64
CancellationCode      object
Diverted               int64
CarrierDelay           int64
WeatherDelay           int64
NASDelay               int64
SecurityDelay          int64
LateAircraftDelay      int64
dtype: object

C:\Users\Miles\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Miles\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\Miles\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\Miles\anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\Miles\anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\Miles\anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Miles\anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\Miles\anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

<em><b>Test</b></em>

In [23]:
pgh_flights_88.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
15771,1988,1,1,5,06:57:00,07:01:00,08:10:00,07:44:00,TW,73,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
15772,1988,1,2,6,06:59:00,07:01:00,07:54:00,07:44:00,TW,73,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
15773,1988,1,3,7,07:01:00,07:01:00,07:50:00,07:44:00,TW,73,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
15774,1988,1,4,1,07:01:00,07:01:00,08:24:00,07:44:00,TW,73,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
15775,1988,1,5,2,06:59:00,07:01:00,07:49:00,07:44:00,TW,73,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [24]:
pgh_flights_07.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
194,2007,1,1,1,10:34:00,10:35:00,12:32:00,12:50:00,WN,2999,...,5,11,0,NaN,0,0,0,0,0,0
1481,2007,1,2,2,10:37:00,10:35:00,17:54:00,17:45:00,WN,803,...,4,15,0,NaN,0,0,0,0,0,0
1482,2007,1,2,2,15:04:00,14:35:00,22:19:00,21:40:00,WN,2659,...,7,8,0,NaN,0,0,29,10,0,0
1864,2007,1,2,2,18:38:00,18:30:00,20:47:00,20:50:00,WN,491,...,8,11,0,NaN,0,0,0,0,0,0
1865,2007,1,2,2,13:22:00,13:15:00,15:25:00,15:25:00,WN,1659,...,6,9,0,NaN,0,0,0,0,0,0

#### 3. Several NaN columns for the pgh_flights_88 df

<em><b>Define</b></em>

Drop NaN columns (TailNum, AirTime, TaxiIn, TaxiOut, CancellationCode, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay) from pgh_flights_88 df

<em><b>Code</b></em>

In [28]:
columns=['TailNum', 'AirTime', 'TaxiIn', 'TaxiOut', 'CancellationCode', 'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay']
pgh_flights_88.drop(columns, inplace=True, axis=1)

C:\Users\Miles\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

<em><b>Test</b></em>

In [29]:
pgh_flights_88.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 237901 entries, 15771 to 5184920
Data columns (total 19 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Year               237901 non-null  int64
 1   Month              237901 non-null  int64
 2   DayofMonth         237901 non-null  int64
 3   DayOfWeek          237901 non-null  int64
 4   DepTime            235996 non-null  object
 5   CRSDepTime         237901 non-null  object
 6   ArrTime            235559 non-null  object
 7   CRSArrTime         237901 non-null  object
 8   UniqueCarrier      237901 non-null  object
 9   FlightNum          237901 non-null  int64
 10  ActualElapsedTime  235585 non-null  float64
 11  CRSElapsedTime     237901 non-null  int64
 12  ArrDelay           235585 non-null  float64
 13  DepDelay           236035 non-null  float64
 14  Origin             237901 non-null  object
 15  Dest               237901 non-null  object
 16  Distance           237901 non-null  float64
 17  Cancelled          237901 non-null  int64
 18  Diverted           237901 non-null  int64
dtypes: float64(4), int64(8), object(7)
memory usage: 36.3+ MB

#### 4. There is no categorial column for delays which would be useful in visualization of the data

<em><b>Define</b></em>

Create a separate df for the flights from the 07 df which have delays and add a column to it which categorically captures the type of the delay, rather than just the time lost.

<em><b>Code</b></em>

In [31]:
delays_07 = pgh_flights_07.query("CarrierDelay != 0 or WeatherDelay != 0 or NASDelay != 0 or SecurityDelay != 0 or LateAircraftDelay != 0")
delays_07.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26090 entries, 1482 to 7452930
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               26090 non-null  int64
 1   Month              26090 non-null  int64
 2   DayofMonth         26090 non-null  int64
 3   DayOfWeek          26090 non-null  int64
 4   DepTime            26079 non-null  object
 5   CRSDepTime         26090 non-null  object
 6   ArrTime            26069 non-null  object
 7   CRSArrTime         26090 non-null  object
 8   UniqueCarrier      26090 non-null  object
 9   FlightNum          26090 non-null  int64
 10  TailNum            26090 non-null  object
 11  ActualElapsedTime  26090 non-null  float64
 12  CRSElapsedTime     26090 non-null  float64
 13  AirTime            26090 non-null  float64
 14  ArrDelay           26090 non-null  float64
 15  DepDelay           26090 non-null  float64
 16  Origin             26090 non-null  object
 17  Dest               26090 non-null  object
 18  Distance           26090 non-null  int64
 19  TaxiIn             26090 non-null  int64
 20  TaxiOut            26090 non-null  int64
 21  Cancelled          26090 non-null  int64
 22  CancellationCode   0 non-null      object
 23  Diverted           26090 non-null  int64
 24  CarrierDelay       26090 non-null  int64
 25  WeatherDelay       26090 non-null  int64
 26  NASDelay           26090 non-null  int64
 27  SecurityDelay      26090 non-null  int64
 28  LateAircraftDelay  26090 non-null  int64
dtypes: float64(5), int64(15), object(9)
memory usage: 6.0+ MB

In [40]:
delay_types = ['Carrier', 'Weather', 'NAS', 'Security', 'Late Aircraft']

conditions = [(delays_07['CarrierDelay'] != 0),
             (delays_07.WeatherDelay !=0),
             (delays_07.NASDelay !=0),
             (delays_07.SecurityDelay !=0),
             (delays_07.LateAircraftDelay !=0)]

#for f in delays_07:
 #   if delays_07['CarrierDelay'] != 0:
   #     delay_type.append('Carrier')
#    elif delays_07.WeatherDelay !=0:
#        delay_type.append('Weather')
 #   elif delays_07.NASDelay !=0:
  #      delay_type.append('NAS')
  #  elif delays_07.SecurityDelay !=0:
    #    delay_type.append('Security')
    #elif delays_07.LateAircraftDelay !=0:
     #   delay_type.append('Late Aircraft')
        
delays_07['delay_type'] = np.select(conditions, delay_types)
delays_07['delay_type']

C:\Users\Miles\anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

1482             Weather
2047             Carrier
2050             Carrier
2499             Carrier
2658             Carrier
               ...
7449494          Carrier
7450143          Carrier
7450160    Late Aircraft
7451478              NAS
7452930          Carrier
Name: delay_type, Length: 26090, dtype: object

<em><b>Test</b></em>

In [41]:
delays_07.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,delay_type
1482,2007,1,2,2,15:04:00,14:35:00,22:19:00,21:40:00,WN,2659,...,8,0,NaN,0,0,29,10,0,0,Weather
2047,2007,1,2,2,14:00:00,13:35:00,16:08:00,15:50:00,WN,304,...,7,0,NaN,0,10,0,0,0,8,Carrier
2050,2007,1,2,2,17:30:00,16:55:00,19:39:00,19:15:00,WN,723,...,11,0,NaN,0,4,0,0,0,20,Carrier
2499,2007,1,2,2,18:36:00,18:10:00,19:55:00,19:25:00,WN,1597,...,25,0,NaN,0,2,0,4,0,24,Carrier
2658,2007,1,2,2,15:55:00,14:50:00,21:45:00,20:55:00,WN,647,...,9,0,NaN,0,43,0,0,0,7,Carrier

## Data Exploration <a name="data_exploration"></a>